@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #FFFBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    row-gap: 5vh;
    font-family: 'Graduate', cursive;
    color: #0A0903;
}

img {
    height: auto;
    width: 10vw;
}

.results img {
    height: auto;
    width:15vw;
    border: 10px double #0A0903;
}

div.announcement {
    height: 64px; /* h1 font size + h2 font size */
    width: 100vw;
    padding: 2.5vh 0;
    font-family: 'Roboto', sans-serif;
    background-color: #7067CF;
    color: #FFFBFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

div.results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12.5vw;
}

div.score {
    text-align: center;
    font-size: medium;
    font-size: 2.5vw;
}

.score {
    font-size: 10vw;
}

button {
    padding: 1vh;
    background-color: #FFFBFF;
    border: #0A0903 solid 2px;
    font-family: 'Graduate', cursive;
    font-size: 24px;
}

button:hover:enabled {
    background-color: #d6d6d6;
}

button:disabled {
    background-color: darkgrey;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}

div.buttons div {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

footer {
    display: block;
    width: 100vw;
    margin-top: auto;
    padding: 2.5vh 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #7067CF;
    color: #FFFBFF;
}

