* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    row-gap: 5vh;
}

img {
    height: auto;
    width: 10vw;
}

.results img {
    height: auto;
    width:15vw;
    border: 10px double black;
}

div.announcement {
    height: 64px; /* h1 font size + h2 font size */
    width: 100vw;
    padding: 2.5vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

div.results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15vw;
}

div.score {
    text-align: center;
    font-size: medium;
    font-size: 2.5vw;
}

.score {
    font-size: 12.5vw;
}

button {
    padding: 1vh;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}

div.buttons div {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

footer {
    display: block;
    margin-top: auto;
    padding: 2.5vh;
}

